.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }

    .button-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.signin-buttons {
    width: 200px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding: 0 1rem 0 1rem;
    font-size: 13px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    margin-right: 1rem;

    &:hover:enabled {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    &:disabled {
        background-color: silver;
        border: none;
        cursor: none;
        color: white;   
    }

    &.google-button {
        background-color: white;
        color: black;
        border: 2px solid rgb(25, 183, 47);

        &:hover:enabled {
            background-color: rgb(25, 183, 47);
            color: white;
            border: none;
        }
        &:disabled {
            background-color: silver;
            border: none;
            cursor: none;
            color: white;   
        }
    }
}